/* You can add global styles to this file, and also import other style files */
@import './assets/styles/reset.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/styles/material-icons.css';

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mat-form-field-suffix .mat-icon-button {
  vertical-align: middle !important;
  justify-content: center;
  align-self: center;
}
